<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/Winwheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Lazy Thinking</title>
    <style>
        .the_wheel{
            background-image: url(../static/images/wheel_back.png);
            background-position: center;
            background-repeat: none;
        }
        .modal-content{
            height: 300px;
            width: 300px;
            margin: auto;
            border-radius: inherit;
        }
    </style>
</head>

<body>
    <form method="POST">
        <div>
            <label>Title</label> <br>
            <input type="text" name="title"> <br>

            <label>Option</label> <br>
            <div id="options">
                <input id="option1" style="background-color: aqua;" type="text" placeholder="Add an option" name = "option1"> <br>
            </div>
            <button>Save</button>
        </div>
    </form>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="winner">Some text in the modal.</p>
                </div>
            </div>
        </div>
      </div>

    <table>
        <tr>
            <td>
                <div class="power_controls">
                    <img id="spin_button" src="../static/images/spin_on.png" alt="Spin" onClick="startSpin();"/><br>
                    <a href="#" onClick="resetWheel(); return false;">Play Again</a>
                </div>
            </td>
            <td>
                <canvas id="canvas" width="438" height="582" class="the_wheel" align="center" valign="center"></canvas>
            </td>
        </tr>
    </table>
    <button id ="btn_add">Add</button>
    <h2 id="asked" numQuestion = "{{numQuestion}}">The questions {{session['token']}} you asked:</h3>
    
        {% for easy in lazy %}
            <h3 id="question{{loop.index}}" numOptions = "{{ easy.num_option }}"> Question : {{ easy["title"] }} </h3>
            <h3>Options: </h3>
            {% for i in easy["option"] %}
                <h3 id="option{{loop.index}}" optionValue="{{i}}">{{ i }}</h3>
            {% endfor %}
        {% endfor %}
    <script src="../static/wheel.js"></script>
    <script>
        let numQuestion = $('#asked').attr('numQuestion');
        let colorPikedQuest = [];
        for (let indexQues = 1; indexQues <= numQuestion; indexQues++) {
            $(`#question${indexQues}`).on('click', () => {
                $('#options').empty();
                theWheel.numSegments = 0;
                let numOptions = $(`#question${indexQues}`).attr('numOptions');
                for (let indexOption = 1; indexOption <= numOptions; indexOption++) {
                    let optionValue = $(`#option${indexOption}`).attr('optionValue');
                    let color = getRandomColor();
                    if (!colorPikedQuest.includes(color)) {
                        $('#options').append(`
                            <input value="${optionValue}" style="background-color: ${color};" type="text" placeholder="Add an option" name = "option${indexOption}">
                            </br>
                        `);
                        addSegments(color);
                        colorPikedQuest.push(color);
                    } else {
                        indexOption--;
                    }
                }
            })
        }
    </script>
</body>
</html>